@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: #f8f9fa;
}

nav .navbar-nav .nav-link {
  color: #092a33;
}

nav .navbar-nav .nav-link .active {
  font-weight: bold;
}

nav .btn-masuk {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
  background-color: #24aac9;
}

nav .btn-masuk:hover {
  background-color: #4ddeff;
}

header .left-column {
  margin-bottom: 2.75rem;
  width: 100%;
}

header .left-column .text-caption {
  margin-bottom: 2rem;
  background-color: #ffd6d6;
  padding: 5px;
  color: #ff7c57;
}

header .left-column .title-text-big {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  margin-bottom: 2rem;
  color: #272e35;
}

header .left-column .title-text-desc {
  font: 300 1.2rem Poppins, sans-serif;
}

header .right-column {
  width: 100%;
}

.benefit .benefit-top {
  color: #6a77f9;
  font-weight: bold;
}

.benefit .benefit-title {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  color: #121212;
  margin-bottom: 0.625rem;
}

.benefit .benefit-caption {
  font: 400 1rem/1.625 Poppins, sans-serif;
  color: #565656;
}

.benefit .icon {
  margin-bottom: 1.5rem;
}

.benefit .icon-title {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  font-weight: 600;
  margin-bottom: 0.625rem;
  color: #121212;
}

.benefit .icon-caption {
  font: 400 1rem/1.625 Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.popular .popular-header .popular-top {
  color: #6a77f9;
  font-weight: bold;
}

.popular .popular-header .popular-title {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  color: #121212;
  margin-bottom: 0.625rem;
}

.popular .popular-content {
  overflow-x: auto;
}

.popular .popular-content .card-block {
  min-height: 250px;
  border: none;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}

.popular .popular-content .card-body .card-title {
  font: 600 1.3rem Poppins, sans-serif;
  color: #121212;
}

.popular .popular-content .card-body .card-location {
  font: 400 1rem/1.625 Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.popular .popular-content .card-body .card-star {
  background-color: #ffffb0;
  font: 400 0.9rem Poppins, sans-serif;
  display: inline-block;
  color: #121212;
}

.popular .popular-content .card-body .card-star i {
  color: yellow;
}

.popular .popular-content .card-body .review {
  font: 400 0.9rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #565656;
}

.getstarted {
  background-color: #fff4f3;
}

.getstarted .started-title {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  color: #121212;
  margin-top: 70px;
  margin-bottom: 0.625rem;
}

.getstarted .started-caps {
  margin-top: 30px;
  font: 400 1rem/1.625 Poppins, sans-serif;
  color: #565656;
  margin-bottom: 30px;
}

.getstarted .btn-getstarted {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
  color: #fff;
  background-color: #24aac9;
  margin-bottom: 30px;
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -110px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-top: 30px;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font: 600 26px Poppins, sans-serif;
}

.section-details-content .card-details h2 {
  font: 600 20px Poppins, sans-serif;
}

.section-details-content .card-details h3 {
  font: 600 14px Poppins, sans-serif;
}

.section-details-content .card-details p {
  font-size: 18px;
}

.section-details-content .card-left .gallery .xzoom-container {
  display: block;
}

.section-details-content .card-left .gallery .xzoom-container .xzoom {
  -webkit-box-shadow: 100%;
          box-shadow: 100%;
  margin-bottom: 10px;
}

.section-details-content .card-left .gallery .xzoom-container .xactive {
  border: 4px solid #1AbC9C;
}

.section-details-content .card-left .gallery .xzoom-thumbs {
  overflow-x: auto;
}

.section-details-content .card-left .gallery .xzoom-thumbs .col {
  padding: 0;
}

.section-details-content .card-left .features {
  margin-top: 20px;
}

.section-details-content .card-left .features h3 {
  font-size: 14px;
  margin-bottom: 0;
}

.section-details-content .card-left .features p {
  font-size: 12px;
  margin-bottom: 0;
}

.section-details-content .card-left .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-left .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-left .member .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .card-left .member .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-left .member .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-left .member .btn-add-now {
  background-color: #071C4D;
  color: #FFF;
  width: 100%;
}

.section-details-content .card-left .member .btn-add-now:hover {
  background-color: #1b3b86;
  color: #FFF;
}

.section-details-content .card-left .member .disclaimer {
  font-weight: 300;
  font-size: 14px;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .card-right .members .member-image {
  width: 40px;
  margin-right: 10px;
}

.section-details-content .card-right .trip-informations th {
  font-weight: 500;
  font-size: 16px;
  padding: 5px;
}

.section-details-content .card-right .trip-informations td {
  font-weight: 300;
  font-size: 16px;
}

.section-details-content .card-right .payment-instructions {
  font-weight: 300;
  font-size: 14px;
}

.section-details-content .card-right .bank .bank-item h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.section-details-content .card-right .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-right .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-right .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
}

.section-details-content .card-right .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 25px;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #24aac9;
  color: #FFF;
}

.section-success .btn-home-page:hover {
  background-color: #00d0ff;
  color: #FFF;
}
/*# sourceMappingURL=main.css.map */